<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
     <meta name=viewport content="width=device-width, initial-scale=1">


     <title>The Sierra Leone Grammar School</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="css/main.css">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="/">SLGS</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/login">Sign In <span class="sr-only">(current)</span></a>
                </li>

              </ul>
              <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>
              </form>
            </div>
          </nav>

          <div class="row row-cols-1 row-cols-md-2">

            <!-- News -->
            <div class="col mb-4">
                <div class="card" style="height: 40rem;">
                    <img src="/images/news.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SLGS News</h5>
                      <p class="card-text">Basic news feed about the sierra leone grammar school.</p>
                      <a href="#" class="btn btn-primary">Go</a>
                    </div>
                  </div>
            </div>


            <!-- Old Boys Associations -->
      
            <div class="col mb-4">
                <div class="card" style="height: 40rem;">
                    <img src="https://c8.alamy.com/comp/G3AWGA/the-church-missionary-society-grammar-school-freetown-sierra-leone-G3AWGA.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Alumni Association</h5>
                      <h6 class="card-subtitle mb-2 text-muted"></h6>
                      <p class="card-text">If you want to know more about the Sierra Leone Old boys Association please follow the links bellow</p>
                      <a href="http://slgsaanadc.org/?fbclid=IwAR2nG3vi6craJ_X1Vh17POoi1HGYxx4OJ0Xi0iJ4wOZc-GprH5GRl8iW95U" class="card-link">SLGS Alumni Association</a>
                      <a href="http://regentoniansobauk.org" class="card-link">SLGS Old Boys Association</a>
                    </div>
                  </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="/images/slgs_badge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SLGS Social Media Info</h5>
                  <p class="card-text">If you want to follow us on our social media platforns please follow the links or 
                     check us out to hear about our success stories .</p>
                     <a href="https://www.facebook.com/pages/category/Public---Government-Service/Sierra-Leone-Grammar-School-110608262446913/" 
                     class="card-link">facebook</a>
                </div>
              </div>
            </div>
           
          </div>

          </div>
    </body>
</html>