<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>The Sierra Leone Grammar School</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
         integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="/">SLGS</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="navbar-brand " href="#">SIGN UP <span class="sr-only">(current)</span></a>
                </li>
              </ul>
               <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>
              </form>
            </div>
          </nav>

        <div class="container sign_up_container">
        <form method="POST" action="/signup">
         <div class="row">
                <div class="col-md-6">
                    <label for="inputStudentID">Student ID</label>
                    <input type="password" class="form-control" id="inputStudentID" name="studentID" required>
                </div>
                  <div class="col-md-6">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="username" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" name="first_name" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputMiddleName">Middle Name</label>
                    <input type="text" class="form-control" id="inputMiddleName" name="middle_name">
                  </div>
                  <div class="col-md-4">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" name="last_name" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputAddress">Street Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="street_address" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputTown">Town</label>
                    <input type="text" class="form-control" id="inputTown" name="town" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city" required>
                  </div>
                </div>
                <div class="col-md-10 signup_div">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
                </div>
            </div>
         </form>
    </body>
    <script
     src="js/main.js">
</script>
</html>